extends booklayout

include _bookCard

block content
  div.booksContainer
    if !BookData || BookData.length < 1
      p.emptyBookContainer No books to show here
    if BookData && BookData.length > 0
      each book in BookData
        div.bookCardButtons
          +BookCard(book, loggedIn)
          div.cardButtons
            form(action='/addbook' method='POST')
              input(type="hidden" name="BookData" value=book)
              button(type="submit" name="submit").addBookButton Add
    