extends booklayout

include _bookCard


block content
  div.booksContainer
    if !Books || Books.length < 1
      p.emptyBookContainer No books to show here
    if Books
      for book in Books
        div.bookCardButtons
          if loggedIn && book.owner !== loggedIn && book.requestors.includes(loggedIn)
            span.bookRequestedSpan Requested!
          if loggedIn && book.owner === loggedIn && book.requestors.length > 0
            span.bookRequestedInSpan Requested!
          +BookCard(book, loggedIn)
          +BookButtons(book, loggedIn)
