extends booklayout

include _bookCard


block content
  if !Books || Books.length < 1
    p No books to show here
  if Books
    div.booksContainer
      for book in Books
        div.bookCardButtons
          if loggedIn && book.owner !== loggedIn && book.requestors.includes(loggedIn)
            p You want this book
          if loggedIn && book.owner === loggedIn && book.requestors.length > 0
            p People want this book
          +BookCard(book, loggedIn)
          +BookButtons(book, loggedIn)
