extends layout

block content
  .indexContainer
    div(onclick="location.href='/polls'").indexCard
      span.indexCardHeader naymPoll
      span.indexCardDesc A service that allows you to create polls which you can share with your friends, who can then vote on them and see current results.
      ul.indexCardSkills
        li HTML5/CSS/JavasScript
        li NodeJS/Pug/MongoDB
        li React
        li d3.js
    div(onclick="location.href='/gyms'").indexCard
      span.indexCardHeader naymGym
      span.indexCardDesc A service that enables you to look for gyms in your area and add them to your list. 
      ul.indexCardSkills
        li HTML5/CSS/JavasScript
        li NodeJS/Pug/MongoDB
        li Google Search API
    div(onclick="location.href='/books'").indexCard
      span.indexCardHeader naymLibrary
      span.indexCardDesc A service that allows you to trade books that you own. 
      ul.indexCardSkills
        li HTML5/CSS/JavasScript
        li NodeJS/Pug/MongoDB
        li Google Books API
    div(onclick="location.href='/stocks'").indexCard
      span.indexCardHeader naymStocks
      span.indexCardDesc Monitoring of stocks with real-time updating. 
      ul.indexCardSkills
        li HTML5/CSS/JavasScript
        li NodeJS/Pug
        li socket.io
        li Plotly.js
    div(onclick="location.href='/microServices'").indexCard
      span.indexCardHeader microNaym
      span.indexCardDesc Monitoring of stocks with real-time updating. 
      ul.indexCardSkills
        li HTML5/CSS/JavasScript
        li NodeJS/Pug/MongoDB
        li API service
        li Google Search API