extends layout
include _login

block content
  .LogInSignUpContainer
    .LogInContainer
      if loggedIn
        p.welcomeMessage= "Already logged in. Welcome " + loggedIn
      if !loggedIn
        h2 Login
        +Login
    if !loggedIn
      .SignUpContainer
        h2 Sign Up
        +Signup()
