extends polllayout
include _share


block content
  div.pollQuestionContainer
    span.createPollHeader.pollQuestionHeader= poll.question
    form(method="POST" class="pollChoice")
      each option, index in poll.options
        .eachChoice
          label= option.choice
          input(type="radio" value=index name="choice")
      button(type="submit") Vote
    if poll.user = loggedIn
      form(action="/deletePoll/"+poll.slug method="POST").deletePollForm
        button(type="submit").deleteButton DELETE
    +Share(url)