extends gymlayout


block content
  form.GymSearch(method="POST" action="/gyms")
    input(type="text" name="barsearch" placeholder="Look for gyms near you" value=`${searchTerm?searchTerm:''}`)
  if results
    div(class="gymContainer")
      each gym in results.results
        +GymCard(gym, googlePhoto, searchTerm, loggedIn)
