extends booklayout

include _bookCard

block content
  div.booksContainer
    if !Books || Books.length < 1
      p.emptyBookContainer No books to show here
    if Books
      each BookData in Books
        each requestor in BookData.requestors
          div.bookCardButtons
            +BookCard(BookData, loggedIn)
            span.requestorNotice 
              span.requestorNoticeName= requestor 
              |  wants this book
            if BookData.tradeRequestAccepted
              span.requestorNotice
                | Traded with 
                span.requestorNoticeName= BookData.tradeRequestAccepted
            if !BookData.tradeRequestAccepted
              form(action="/acceptTrade" method="POST").acceptRequestForm
                input(type="hidden" name="BookDBID" value=BookData._id)
                input(type="hidden" name="requestor" value=requestor)
                button(type="submit").acceptRequestButton Accept